<form (ngSubmit)="onSubmit()" [formGroup]="editForm" >
    <fieldset>
        <legend>Actualizar Empleado</legend>
        <div class="form-group">
            <input type="hidden" class="form-control" name="id"
            formControlName="id" value="{{ (selectedEmployee$ | async)?.id }}">

          <label for="nombre" class="form-label mt-4">Nombre del Empleado</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingresa Tu Nombre" name="nombre" required formControlName="nombre" value="{{ (selectedEmployee$ | async)?.nombre }}">

        </div>
        <div *ngIf="editForm.get('nombre')?.touched && editForm.get('nombre')?.errors?.['required']"  class="alert alert-danger">El Campo nombre es requerido</div>

        <div *ngIf="editForm.get('nombre')?.touched && editForm.get('nombre')?.errors?.['minlength']"  class="alert alert-danger">El Campo debe Contener Minimo {{ editForm.get('nombre')?.errors?.['minlength'].requiredLength }} caracteres</div>

      <div class="form-group">
        <label for="email" class="form-label mt-4">Direccion de Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresa Tu Email" name="email" required formControlName="email" value="{{ (selectedEmployee$ | async)?.email }}">
        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
      </div>

      <div *ngIf="editForm.get('email')?.touched && editForm.get('email')?.errors?.['required']"  class="alert alert-danger">El Campo email es requerido</div>

      <div *ngIf="editForm.get('email')?.touched && editForm.get('email')?.errors?.['email']"  class="alert alert-danger">Email no Valido</div>

      <div class="form-group">
        <label for="telefono" class="form-label mt-4">Numero Telefonico</label>
        <input type="tel" class="form-control" id="telefono" placeholder="Ingresa Tu Numero de Telefono" name="telefono" required formControlName="telefono">
      </div>

      <div *ngIf="editForm.get('telefono')?.touched && editForm.get('telefono')?.errors?.['required']"  class="alert alert-danger">El Campo Telefono es requerido</div>

      <div *ngIf="editForm.get('telefono')?.touched && editForm.get('telefono')?.errors?.['minlength']"  class="alert alert-danger">Numero Telefonico no Valido</div>

        <div class="form-group">
            <label for="fecha" class="form-label mt-4">Fecha de Inicio</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required formControlName="fecha" value="{{ (selectedEmployee$ | async)?.fecha }}">
        </div>

        <div *ngIf="editForm.get('fecha')?.touched && editForm.get('fecha')?.errors?.['required']"  class="alert alert-danger">El Campo fecha es requerido</div>

      <div class="form-group">
        <label for="notas" class="form-label mt-4">Notas</label>
        <textarea class="form-control" id="notas" rows="3" name="notas" formControlName="notas" value="{{ (selectedEmployee$ | async)?.notas }}"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Submit</button>
    </fieldset>
  </form>